@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
}
p {
    font-size: 14px;
    line-height: 1.5;
}
.text-reset {
    margin: 0px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
    cursor: pointer;
}
a {
    color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #fed136;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}
h1 {
    font-size: 30px;
}
.home-section {
    padding: 75px 0px;
}
.home-top {
    padding-top: 75px
}
.home-bottom {
    padding-bottom: 75px
}
.time-bottom {
    padding-bottom:50px;
}
.navbar-custom {
    background-color: #000;
    border-color: transparent;
}
.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #fed136;
}
.navbar-custom .nav li a {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    color: white;
}
.navbar-alt .nav li a {
    color: #fff;
    text-align: left;
}
.navbar-alt.affix .nav li a {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #fed136;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: none;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #fed136;
    background-color: none;
}
.terms-list li {
    font-size: 14px;
    line-height: 1.5;
}
.logo-float {
    padding-top: 1px;
    width: 60px;
    position: absolute;
    left: 47.5%;
}
.navbar-logo {
    padding-top: 1px;
}
.navbar-logo-alt {
    display: none;
    margin-left: 15px;
}
.nav-push {
    margin-top: 58px;
    border-top: 1px solid #cccccc;
}
header {
    background-image: url('../img/content/home-header.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    border-bottom: 1px solid #3f434f;
}
section {
    padding: 50px 0;
}
.timeline {
    list-style: none;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 10px;
    position: relative;
    min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    position: relative;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    color: white;
    border-radius: 100%;
    border: 4px solid #fff;
    text-align: center;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 50px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
footer {
    padding: 0;
    text-align: center;
}
.footer-social {
    padding-bottom: 20px;
}
.footer-social-icon {
    font-size: 24px !important;
    color: #fff;
    margin-right: 15px;
}
.boost-warning {
    padding: 0px;
}
footer .copyright,
.social-icons,
.boost-warning {
    margin-top: 20px;
}
.copyright {
    font-size: 14px;
    color: #fff;
}
footer ul.quicklinks,
.quicklinks {
    font-size: 15px;
    padding-left: 0px;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
}
.modal-close {
    font-family: "Montserrat-Bold", sans-serif;
    margin: 20px 0px 25px 0px;
    color: white;
    background-color: #fed136;
    font-size: 16px;
    border: 0px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 18px;
    border-radius: 3px;
}
.modal-close:hover,
.modal-close:focus,
.modal-close:active,
.modal-close.active {
    background-color: #fec503;
    outline: none;
}
.modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}
.krowdspace-modal {
    margin-top: 50px;
    margin-bottom: 100px;
}
.krowdspace-modal-custom {
    margin-top: 65px;
    margin-bottom: 100px;
}
.modal-custom {
    padding: 0px 50px;
}
.modal-link {
    color: #333;
}
.modal-link:hover {
    color: #fec503;
}
::-moz-selection {
    text-shadow: none;
    background: #fed136;
}
::selection {
    text-shadow: none;
    background: rgba(200, 200, 200, 0.5);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
.alternate-background {
    background-image: url('../img/content/background-white.jpg');
}
.alternate-gradient-background {
background: #1c81a5;
background: -moz-linear-gradient(-45deg, #1c81a5 0%, #4c4474 100%);
background: -webkit-linear-gradient(-45deg, #1c81a5 0%,#4c4474 100%);
background: linear-gradient(135deg, #1c81a5 0%,#4c4474 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c81a5', endColorstr='#4c4474',GradientType=1 );
}
.landing-header {
    margin: 0px 0px 25px 0px;
}
.landing-description {
    margin-bottom: 50px;
}
.explore-bottom {
    margin-bottom: 50px;
}
.img-icon {
    padding-bottom: 10px;
}
.press-img {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 110px;
}
.press-img-alt {
    margin: 10px;
}
.price-box {
    background-color: #323031;
    padding: 20px 0px 30px 0px;
    margin: 0px 20px;
}
.footer-text {
    font-family: "Montserrat-Bold", sans-serif;
    text-align: left;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 20px 0px;
    text-transform: uppercase;
}
.social-footer {
    color: #fff;
    font-size: 14px;
}
.flex {
    display: flex;
}
.header-left {
    padding-top: 160px;
    padding-bottom: 100px;
}
.container-top-header {
    max-width: 90%;
}
.btn-register {
    font-family: "Montserrat-Bold", sans-serif;
    color: white;
    background-color: #fed136;
    font-size: 16px;
    border: 0px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 14px;
    border-radius: 3px;
}
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.btn-register:active:focus {
    outline: none;
    color: white;
    background-color: #fec503;
}
.btn-register:hover {
    color: white;
    background-color: #fec503;
}
.btn-landing {
    font-family: "Montserrat-Bold", sans-serif;
    border-radius: 3px;
    padding: 9px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    background: #fed136;
    color: white;
}
.btn-landing:focus,
.btn-landing:active,
.btn-landing.active,
.btn-landing:active:focus {
    outline: none;
    color: white;
}
.btn-landing:hover {
    background: #fec503;
    color: white;
}
.header-right {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}
.edit-user-box {
    background: #fff; 
    padding: 20px; 
    border:2px solid #fed136;
}
.register-container {
    padding: 5px 20px 10px 20px;
    background: white;
    border: 1px solid #3f434f;
    border-bottom: none;
}
.market-container-modal {
    padding: 0px 20px 10px 20px;
    background: white;
}
.register-container-modal {
    padding: 5px 20px 10px 20px;
    background: white;
    border: 2px solid #fed136;
    border-bottom: none;
}
.modal-max-login {
    max-width: 435px;
    width: 100%; 
    margin: 0 auto;
}
.modal-max-register {
    max-width: 465px;
    width: 100%; 
    margin: 0 auto;
}
.purchase-container-left {
    background: white;
    padding: 20px !important;
    border: 2px solid #fed136;
    border-right: 1px solid #ccc;
}
.press-left {
    background: white;
    padding: 20px !important;
    border: 2px solid #fed136;
    border-right: 1px solid #ccc;
}
.reward-examples {
    padding-left: 20px;
}
.purchase-price-box {
    padding-top: 25px; 
    padding-bottom: 20px;
}
.purchase-container-right {
    background: white;
    border: 2px solid #fed136;
    border-left: none;
}
.press-right {
    background: white;
    padding: 20px !important;
    border: 2px solid #fed136;
    width: 100%;
    border-left: none;
}
.landing-text {
    margin-top: 10px;
    color: #3f434f;
}
.loginbox {
    padding-left: 0px;
}
.check-terms {
    margin-top: 15px;
    font-size: 14px;
    color: #3f434f;
}
.wysiwyg-save {
    width: 75px; 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 5; 
    border:1px solid black; 
    font-size: 14px; 
    padding: 12px 0px;
    color: #fff;
    background-color: #fed136; 
}
.wysiwyg-save:focus,
.wysiwyg-save:active,
.wysiwyg-save.active,
.wysiwyg-save:active:focus {
    outline: none;
}
.wysiwyg-save:hover {
    border: 1px solid #3f434f !important;
}
.landing-submit {
    font-family: "Montserrat-Bold", sans-serif;
    padding: 11px 0px;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    border-top: none;
    border: 1px solid #3f434f;
    border-top: none;
    background: #fed136;
    color: #fff;
}
.landing-submit:focus,
.landing-submit:active,
.landing-submit.active,
.landing-submit:active:focus {
    outline: none;
}
.landing-submit:hover {
    background: #fec503;
}
.purchase-more {
    font-family: "Montserrat-Bold", sans-serif;
    padding: 11px 0px;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    background: #fed136;
    color: #fff;
    position: absolute; 
    bottom: 0; 
    left: 0 ;
    right: 0; 
    margin: 0px auto; 
    text-align: center; 
    border-top: 1px solid #3f434f;
}
.purchase-more:focus,
.purchase-more:active,
.purchase-more.active,
.purchase-more:active:focus {
    outline: none;
}
.purchase-more:hover {
    border-top: 1px solid #3f434f !important;
}
.alt-border {
    border-left: 2px solid #fed136;
    border-right: 2px solid #fed136;
    border-bottom: none;
}
.alt-border:hover {
    border-left: 2px solid #fec503;
    border-right: 2px solid #fec503;
}
.shadow {
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.card-text {
    margin: 5px 0px;
    line-height: 1.1;
}
.neutral-link {
    color: #333;
    font-size: 15px;
    line-height: 1.5;
}
.neutral-link:hover {
    color: #fed136;
    font-size: 15px;
    line-height: 1.5;
}
.neutral-footer-link {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}
.neutral-footer-link:hover {
    color: #fed136;
}
.sign-in,
.modal-heading {
    line-height: 24px;
    color: #323031;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.modal-heading-alt {
    padding-top: 10px;
}
.modal-edit {
    padding-bottom: 0px;
}
.edit-margin {
    margin-bottom: 0px !important;
}
.verify-heading {
    font-size: 22px;
    padding: 10px 0px 25px 0px;
}
.verify-message {
    padding: 25px 0px;
}
.static {
    position: static;
}
.sign-in-small,
.about-heading,
.modal-text {
    line-height: 1;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.giveaway-winner {
    line-height: 1;
    padding: 20px 0px 0px 0px;
    width: 50%;
    float: left;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#errorLog {
    font-size: 14px;
    padding: 9px;
    display: none; 
    position: relative;
}
.user-position-box {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
}
.user-break {
    margin-top: 10px;
}
.user-text {
    margin-top: 7px;
}
.user-text-alt {
    margin-top: 5px;
}
.user-title,
.modal-container {
    padding-top: 15px;
    padding-bottom: 25px;
}
.verify-submit {
    font-family: "Montserrat-Bold", sans-serif;
    padding: 8px 16px;
    width: 100px;
    margin: 0px 20px;
    display: inline-block;
    border-radius: 3px;
    background-color: #fed136;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}
.verify-submit:focus,
.verify-submit:active,
.verify-submit.active,
.verify-submit:active:focus {
    outline: none;
    color: #fff;
    background-color: #fec503;
}
.verify-submit:hover {
    background-color: #fec503;
    color: #fff;
}
.resource-background {
border: 1px solid #3f434f; 
padding: 20px;
}
.register-background {
background: #5ea0cc; /* Old browsers */
background: -moz-linear-gradient(top, #5ea0cc 0%, #408abc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #5ea0cc 0%,#408abc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #5ea0cc 0%,#408abc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea0cc', endColorstr='#408abc',GradientType=0 ); /* IE6-9 */
border: 1px solid #3f434f; 
}
.dashboard-launch {
    background: #0075be;
background: -moz-linear-gradient(top, #0075be 0%, #005b97 100%);
background: -webkit-linear-gradient(top, #0075be 0%,#005b97 100%);
background: linear-gradient(to bottom, #0075be 0%,#005b97 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075be', endColorstr='#005b97',GradientType=0 );
border: 1px solid #3f434f; 
}
.register-reward-box {
border: 1px solid #3f434f; 
padding: 15px;
}
.register {
    position: relative;
}
.registration-box {
    margin: 50px 40px 50px 20px;
    border: 1px solid #3f434f; 
    padding: 15px; 
    background: white; 
    height: 430px;
}
.register-controls {
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    left: 0px; 
    width: 100%;
}
#project_information,
#reward_information,
#project_verify,
#service_terms {
    position: relative; 
    height: 415px;
}
#service_terms,
#project_verify,
#reward_information {
    display: none;
}
.link-left {
    padding-right: 15px !important; 
    margin-top: 0px;
}
.link-right {
    margin-top: 0px;
}
.registration-text {
    color: #3f434f;
    font-size: 14px;
}
.modal-purchase-text {
    margin-top: 20px;
    color: #3f434f;
    font-size: 13px;
}
.active-box {
    position: absolute; 
    bottom: 20px; 
    left: 20px;
}
.active-text {
    color: #3f434f;
    font-size: 13px;
    padding-left: 10px;
}
.register-button-box {
    padding-top: 15px;
}
.share-container {
    position: fixed; 
    left: 0; 
    top: 113px; 
    padding: 0px;
}
.share-container-right {
    position: fixed; 
    right: 0; 
    top: 113px; 
    padding: 0px;
}
.share-box {
    width: 40px;
}
.share-icon-push {
   padding-left: 5px;
}
.custom-footer {
    border-top: 1px solid #cccccc;
    background-color: rgba(50, 48, 49, .92);
}
.approval-container {
    position: absolute; 
    bottom: 6px; 
    left: 0; 
    right: 0;
}
.project-approval {
    position: absolute;  
    width: 36px;
    right: 7px;
    bottom: 0;
}
.project-approval-modal {
    position: absolute;  
    width: 30px;
    left: 20px;
    bottom: 10px;
}
.png-left {
    padding-right: 5px; 
    display: inline-block;
}
.svg-right {
    padding-left: 4px; 
    display: inline-block;
}
.logout-box {
    display:inline-block;
}
.email-box {
    margin-bottom: 10px; 
    margin-top: 30px;
}
.giveaway-box {
    padding: 30px;
}
.contact-box {
    margin-bottom: 26px;
}
.contact-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.contact-btn {
    margin: 0 auto;
    width: 100%;
    padding: 8px 0px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    border: 2px solid #fff;
    background-color: rgba(50, 48, 49, .0);
    color: white;
}
.contact-btn:focus,
.contact-btn:active,
.contact-btn.active,
.contact-btn:hover {
    border: 2px solid #fed136;
    outline: none;
    color: #fed136;
}
.featured-title {
    font-size: 15px;
}
.privacy-title {
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.legal-text {
    margin-top: 20px;
}
.social-btn {
    color: #fed136;
    cursor: pointer;
}
.social-btn:hover {
    color: #fec503;
}
.header-title {
    margin-bottom: 30px;
}
.boost-small {
    color: #fff;
}
.boost-pricing {
    padding: 15px;
    height: 100%;
}
.boost-description {
    margin: 0px;
}
.privacy-list {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 1.5;
}
.home-links {
    color: #333;
    background-color: #ffe58f;
    padding: 0px 3px;
    cursor: pointer;
}
.home-links:hover {
    color: #333;
    background-color: #fed136;
}
.home-links:focus,
.home-links:active,
.home-links.active {
    color: #333;
    background-color: #fed136;
}
.terms-links {
    color: #333;
    padding: 0px 3px;
}
.terms-links:hover {
    color: #333;
    background-color: #fed136;
}
.placeholder-color::-webkit-input-placeholder {
    color: #555;
}
.placeholder-color:-moz-placeholder {
    color: #555;
}
.placeholder-color::-moz-placeholder {
    color: #555;
}
:-ms-input-placeholder {
    color: #555;
}
.dash-user-title {
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
    background:rgba(0, 0, 0, .5);
    box-shadow:0.3em 0 0 rgba(0, 0, 0, .5),-0.3em 0 0 rgba(0, 0, 0, .5);
    -moz-box-shadow:0.3em 0 0 rgba(0, 0, 0, .5),-0.3em 0 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow:0.3em 0 0 rgba(0, 0, 0, .5),-0.3em 0 0 rgba(0, 0, 0, .5);
}
.explore-title {
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
    background:rgba(0, 0, 0, .5);
    box-shadow:0.3em 0 0 rgba(0, 0, 0, .5),-0.3em 0 0 rgba(0, 0, 0, .5);
    -moz-box-shadow:0.3em 0 0 rgba(0, 0, 0, .5),-0.3em 0 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow:0.3em 0 0 rgba(0, 0, 0, .5),-0.3em 0 0 rgba(0, 0, 0, .5);
}
.explore-description {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
}
.learn-more {
    margin: 0 auto;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}
.learn-more:hover {
    border: 2px solid #fed136;
    color: #fed136;
}
.learn-more-plus {
    margin: 0 auto;
    padding: 4px 5px 3px 5px;
    text-transform: uppercase;
    font-size: 12px !important;
    line-height: 1;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}
.learn-more-plus:hover {
    border: 1px solid #fed136;
    color: #fed136;
}
.dash-banner-box {
    position:relative; 
    height: 290px;
}
.dash-box-text {
    margin-top: 5px;
    margin-left: 7px;
}
.dash-feature-right {
    margin-top: 255px;
    padding: 0px;
    padding-right: 10px;
}
.backed-box {
    padding-right: 20px; 
    margin-top: 15px;
}
.backed-box-right {
    margin-top: 27px;
}
.explore-feature-left {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-right: 0px;
}
.learn-responsive {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-bottom: 5px;
}
.explore-feature-right {
    position: absolute;
    bottom: 15px;
    right: 0px;
    padding: 0px;
    margin-bottom: 5px;
}
.explore-box-text {
    margin-top: 5px;
}
.explore-banner-box {
    position:relative; 
    height: 311px;
}
.explore-indiegogo {
    margin: -25px auto;
}
.explore-container {
    position: relative;
    width: 368px;
    border: 1px solid #3f434f;
    margin: 40px auto 0px auto;
}
.explore-feature-icon {
    position: absolute !important;
    display: visible;
    top: 5px;
    left: 5px;
}
.explore-header {
    padding-top: 57px; 
    margin-bottom: 25px !important;
}
.explore-box {
    position:absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    border-top:1px solid #3f434f;
    border-bottom:1px solid #3f434f;
}
.card-text-alt {
    font-size: 13px;
    margin: 5px 10px;
    line-height: 1;
}
.verify-confirmation {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 24px;
}
.register-cta {
    color: #fff;
    padding-top: 40px;
    font-size: 22px;
    position: absolute; 
    top: 0;
}
.verify-text {
    padding-bottom: 60px;
    font-size: 16px;
}
.verify-font {
    font-size: 15px;
}
.verify-block {
    padding-left: 24px;
    font-size: 15px;
}
.verify-text-bottom {
    margin-bottom: 150px;
    font-size: 16px;
}
.row-verify {
    margin-bottom: 100px;
}
.register-project-title {
    margin-bottom: 25px;
}
.project-reward {
    margin-bottom: 15px;
}
.project-list {
    line-height: 1.5;
}
.social-metric {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 20px;
    margin: 0px;
    height: 30px;
    font-weight: 700;
    color: #3f434f;
}
.divider-inside-right {
    position: relative;
    overflow: hidden;
}
.divider-inside-right:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 9px;
    top: 5%;
    height: 90%;
    right: -10px;
    border-radius: 5px / 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
.feature-icon {
    width: 30%;
    float: left;
    padding: 0px 10px 0px 0px;
}
.background-modal-close {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.login-check-container {
    background: rgba(50, 48, 49, 1);
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.back-project {
    font-family: "Montserrat-Bold", sans-serif;
    display: inline-block;
    border: 0px;
    margin: 10px 0px;
    padding: 6px 10px;
    background-color: #fed136;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.back-project:hover,
.back-project:focus,
.back-project:active,
.back-project.active {
    background-color: #fec503;
    color: #fff;
}
.explore-project {
    border: solid 1px #3f434f;
    padding: 15px;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
div.explore-project p {
    font-size: 13px;
}
div.explore-project iframe {
    width: 100%;
}
div.explore-project ul li {
    font-size: 13px;
}
div.explore-project img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
}
div.explore-project a {
    color: #333;
    padding: 0px 3px; 
}
div.explore-project a:hover {
    color: #333;
    background-color: #ffe58f;
}
div.explore-project .video-player {
    display: none;
}
div.explore-project iframe {
    display: block;
    margin: 0 auto;
}
div.explore-project h1 {
    font-size: 15px;
}
div.explore-project figcaption {
    font-size: 13px;
    text-align: center;
}
.center-icon {
    padding-left: 3px;
}
.social-padding {
    padding: 0px;
}
.indiegogo-image {
    margin: -20px auto;
}
.kickstarter-image {
    margin: 0 auto;
}
.dashboard {
    margin-top: 93px; 
    margin-bottom: 50px; 
    padding: 0px;
}
.dash-row {
    margin: 20px 0px 0px 0px;
}
.project-row {
    margin: 30px 0px 0px 0px;
}
.dash-bar {
    height: 52px;
    overflow: hidden;
    border: 1px solid #3f434f; 
    padding: 5px 0px 5px 0px;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}
.dash-bar:hover,
.dash-bar:focus,
.dash-bar:active,
.dash-bar.active {
    height: 75px;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}
.dash-divider {
    display: none;
}
.dash-bar:hover .dash-divider {
    display: block;
}
.facebook {
    color: #3b5998;
    margin-right: 12px
}
.facebook-back {
    background-color: #3b5998;
}
.twitter {
    color: #4099FF;
    margin-right: 12px
}
.twitter-back {
    background-color: #4099FF;
}
.linkedin {
    color:#007bb6;
    margin-right: 12px
}
.linked-back {
    background-color: #007bb6;
}
.reddit {
    color: #FF5700;
    margin-right: 12px
}
.reddit-back {
    background-color: #FF5700;
}
.digg {
    color: #356AA0;
    margin-right: 12px;
}
.digg-back {
    background-color: #356AA0;
}
.stumbleupon {
    color: #eb4924;
    margin-right: 12px;
}
.stumble-back {
    background-color: #eb4924;
}
.tumblr {
    color: #34465d;
}
.tumblr-back {
    background-color: #34465d;
}
.google {
    color: #d34836;
    margin-right: 12px
}
.google-back {
    background-color: #d34836;
}
.krowdspace-back {
    background-color: #fed136;
}
.activated {
    color: #5cb85c;
}
.project-btn {
    padding: 10px 5px; 
    text-transform: uppercase; 
    font-size: 13px; 
    color: #3f434f; 
    background: #fff;
}
.filterdark:hover,
.filterdark:focus,
.filterdark:active,
.filterdark.active {
    -webkit-filter: brightness(0.85);
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.filterprimary:hover,
.filterprimary:focus,
.filterprimary:active,
.filterprimary.active {
    color: #fed136;
    outline: none;
    border: none;
    text-decoration: none;
}
.fixed-image-box {
    margin-top: 0px; 
    overflow: hidden; 
    height: 270px;
}
.image-container {
    border-left: 1px solid #3f434f; 
    border-top: 1px solid #3f434f; 
    border-bottom: 1px solid #3f434f; 
    position: relative; 
    padding: 0px;
}
.image-container-alt {
    border:1px solid #3f434f;
    border-right: none;
    position: relative; 
    padding: 0px;
}
.dashboard-text-bar {
    font-size: 13px;
    margin: 0px;
    color: #3f434f;
    padding-top: 5px;
}
.dashboard-text {
    font-size: 12px;
    margin: 0px;
    color: #3f434f;
    text-transform: uppercase;
}
.dashboard-user {
    font-size: 13px;
    margin: 0px;
    color: #3f434f;
    margin-top: 10px;
    height: 18px;
}
.purchase-text {
    color: #3f434f;
    font-size: 12px; 
    margin: 15px 0px;
    height: 18px;
}
.purchase-text-right {
    color: #3f434f;
    height: 18px;
    font-size: 20px; 
    margin: 10px 0px;
}
.dashboard-text-alt {
    font-size: 13px;
    margin: 0px;
    color: #3f434f;
}
.funding-text-left {
    font-size: 12px;
    margin: 0px;
    text-transform: uppercase;
    position: absolute; 
    bottom: 30px; 
    left: 10px; 
    color: #fff; 
    border: 1px solid #fff; 
    padding: 5px 10px;
    background: rgba(0,0,0,0.5);
}
.funding-text-right {
    font-size: 12px;
    margin: 0px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px; 
    right: 10px; 
    color: #fff; 
    border: 1px solid #fff; 
    padding: 5px 10px;
    background: rgba(0,0,0,0.5);
}
.description-text {
    padding-top: 20px;
    padding-right: 10px;
}
.user-box-left {
    padding-left: 25px;
}
.user-box-right {
    padding: 0px 0px 5px 0px;
}
.profile-name {
    padding-left: 20px; 
    font-size: 16px; 
    line-height: 32px;
}
.user-profile-push {
    padding-left: 20px !important;
}
.edit-text-title {
    margin: 15px 0px 3px 0px;
    font-size: 13px;
}
.update-modal-btn {
    padding: 0px; 
    margin-top: 35px;
}
.user-container {
    position: relative; 
    border: 1px solid #3f434f; 
    height: 292px; 
    padding: 10px 0px;
}
.user-container-2 {
    position: relative; 
    border: 1px solid #3f434f; 
    height: 292px; 
    padding: 10px 0px;
}
.user-container-project {
    position: relative; 
    border: 1px solid #3f434f; 
    height: 292px; 
    padding: 20px;
}
.dashboard-hours-container {
    padding-bottom: 15px; 
    border: 1px solid #3f434f; 
    height: 250px;
}
.user-stat-box {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 15px 0px;
}
.user-stat-box-2 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
}
#circleChart {
    padding: 15px 30px; 
    position: relative;
}
.dashboard-title-container {
    border: 1px solid #3f434f; 
    padding: 15px; 
}
.disclaimer-text {
    padding-top: 10px;
}
.couponcode-box {
    border: 2px solid #fed136; 
    margin: 18px auto; 
    padding: 0px 30px;
}
.reward-box {
    border: 3px dashed #fed136; 
    margin: 18px auto; 
    padding: 15px 25px;
    display: inline-block;
}
.couponcode {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px; 
    margin: 0px; 
    font-weight: 700; 
    color: #fed136; 
    text-transform: uppercase;
}
.icon-share {
    margin: 0px 20px;
    width: 40px;
}
.icon-share-bar {
    margin: 2px 20px 0px 20px;
    width: 36px;
}
.icon-reset {
    margin: 0px;
    padding: 0px 1px;
}
.feature-space {
    padding-top: 20px;
    height: 58px;
}
.reward-container {
    padding: 0px 20px;
}
.feature-container-left {
    padding-right: 15px; 
    padding-left: 0px;
}
.feature-container {
    padding: 0px 5px;
}
.feature-container-right {
    padding-right: 0px; 
    padding-left: 15px;
}
.dashboard-reward-container {
    padding-left: 0px; 
    padding-right: 0px;
}
.dashboard-title-box {
    padding: 15px;
    position: relative; 
    border: 1px solid #3f434f; 
    height: 250px;
}
.dashboard-reward-box {
    padding: 15px;
    position: relative; 
    border: 1px solid #3f434f; 
    height: 250px;
}
.dashboard-purchase-box {
    padding: 15px;
    position: relative; 
    border: 1px solid #3f434f; 
    height: 220px;
}
.dashboard-indiegogo-box {
    padding: 15px;
    position: relative; 
    border: 1px solid #3f434f; 
}
.dashboard-user-box {
    padding: 15px; 
    position: relative; 
    border: 1px solid #3f434f; 
}
.reward-text {
    height: 62px;
    padding-right: 35px;
}
.float-btn {
    position: absolute !important; 
    top: 5px; 
    right: 5px;
}
.banner {
    padding: 15px 30px 10px 30px;
}
.feature-box {
    padding: 0px 30px !important;
}
.feature-buy {
    border: 2px solid #fed136;
}
.filter-background {
    position: absolute; 
    top:2px; 
    left:2px; 
    right: 2px; 
    bottom: 2px; 
    background-color: rgba(0, 0, 0, .3);
}
.featured-text-box {
    padding-top: 15px;
}
.featured-image-box {
    padding: 30px 40px 20px 20px;
}
.featured-text-buy {
    position: absolute; 
    top: 35px; 
    font-size: 13px;
    left: 0; 
    right: 0; 
    color: #fff; 
}
.filter-background:hover > .featured-text-buy {
    color: #fed136;
}
#progressBar {
    height: 20px;
    border-top: 1px solid #3f434f;
}
.project-add-container {
    position: fixed; 
    left: 0; 
    top: 113px;
}
.project-add-text { 
    font-size: 13px; 
    margin: 0px; 
    padding: 4px 5px 4px 10px; 
    background: #fed136;
    color: #fff;
}
.project-add-btn {
    background: #fed136;
    color:white; 
    font-size: 11px;
    padding: 4px 0px; 
    width: 100%;
    text-align: center;
}
.faq-box-left {
    padding-right: 40px;
}
.faq-box-right {
    padding-left: 40px;
}
.faq-container {
    border: 1px solid #ccc; 
    position: relative; 
    border-radius: 3px; 
    overflow: hidden;
    margin-bottom: 25px;
}
.answer-container { 
    border-top:1px solid #ccc;
}
.question-text {
    margin: 0px; 
    padding: 6px 20px 6px 10px;
}
.answer-text {
    margin: 15px;
}
.plus-icon {
    float:right; 
    background: #fed136; 
    color: #fff;
    padding: 9px 11px; 
    cursor: pointer;
    position: absolute; 
    top: 0; 
    right: 0;
}
.plus-icon:hover {
    background: #fec503; 
}
.forgot-pass {
    color: #333;
    display: inline-block;  
}
.forgot-pass:hover {
    color: #fed136;
}
.forgot-box {
    margin-top: 10px !important; 
    margin-bottom: 0px !important;
    padding-right: 0px !important;
}
.modal-purchase {
    display: flex;
}

.login-float-text {
    color: #fff; 
    margin-top: 25px;
    margin-bottom: 25px;
}
.function-link {
    cursor: pointer;
}
.function-link:hover {
    color: #fec503;
}
.btn-eye {
    background: #fff;
    border: 1px solid #ccc;
    color: #3f434f;
}
.btn-eye:focus,
.btn-eye:active,
.btn-eye.active,
.btn-eye:active:focus {
    outline: none;
}
.btn-eye:hover {
    color: #fff;
    background-color: #fed136;
}
.img-purchase-box {
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.submit-purchase {
    margin-top: 20px;
}
.modal {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.checker {
  background-color: #8C8C8C;
  background-image: -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  -webkit-background-size:10px 10px;
  -moz-background-size:10px 10px;
  background-size:10px 10px;
  background-position:0 0, 25px 25px;
}
.press-box {
    padding: 0px 20px;
}
.press-text {
    margin-top: 20px;
}
.press-download-left {
    border-right: 1px solid #ccc;
}
.download-font {
    font-size: 13px; 
    margin: 0px;
    color: #3f434f;
}
.download-font:hover {
    font-size: 13px; 
    margin: 0px;
    color: #fed136;
}
.wysiwyg-editor {
    padding: 0px; 
    position: relative;
}
.logo-size {
    width:55px;
}
.logo-push {
    margin-bottom: 15px;
}
.home-slider-box {
    border-right: 1px solid #3f434f; 
    border-left: 1px solid #3f434f;
}
.slider-left-box {
    position: relative; 
    height: 301px;
}
.user-home-box {
    margin: 0px 0px 50px 0px;
}
.cta-header {
    margin-bottom: 15px;
}
.hero-text {
    margin-bottom: 40px;
}
.slider {
width: 100%;
position: relative;
margin: 0px auto;
}
.slick-slide {
margin: 0px;
}
.slick-slide span,
.slick-slide .learn-more,
.slick-slide .learn-more-plus {
display: none;   
}
.slick-current span,
.slick-current .learn-more,
.slick-current .learn-more-plus {
display: inline;       
}
.reward-slider-push {
    position: relative; 
    height: 280px;
}
.platform-card-box {
    height: 207px; 
    overflow: hidden;
}
.image-card-kickstarter {
    margin-bottom: 10px; 
    border-bottom: 1px solid #3f434f;
}
.image-card-indiegogo {
    margin: -20px auto; 
    border-bottom: 1px solid #3f434f;
}
.card-title-height {
    height: 80px;
}
.days-center {
    margin-left: 0px; 
    margin-right: 0px;
}
.project-title {
    margin-bottom: 15px;
}
.project-description {
    margin-bottom: 15px;
}
.project-reward-text {
    margin-bottom: 15px;
}
.project-coupon {
    margin-bottom: 15px;
}
.project-container {
    padding: 0px;
}
.coupon-code-box {
    margin-top: 15px;
}
.box-radius {
    border-radius: 0px;
}
.purchase-view {
    position: relative;
}
.filter-rows {
    margin-top: 15px;
}
.mediaLink,
.mediaLink:hover,
.mediaLink:focus,
.mediaLink:active {
    color: #3f434f; 
}
.mediaLink:hover {
    color: #fed136;
}
.mediaLink > .media-icons {
    color: #fff;
}
.media-box {
    padding-top: 25px;
}
.media-refresh {
    font-size: 13px; 
    padding-top: 25px;
}
.media-padding {
    padding: 15px;
}
.modal-padding {
    padding: 15px !important;
}
.modal-padding-none {
    padding: 0px !important;
}
.explore-card-content {
    padding-left: 0px; 
    padding-right: 0px;
}
.reward-position-box {
    position: absolute; 
    bottom: 10px; 
    left: 0; 
    right: 0;
}
.card-return {
    max-height: 23px;
}
.slider {
    width: 100%;
    position: relative;
    margin: 0px auto;
}
.slick-slide {
    margin: 0px;
}
.slick-slide img {
    width: 100%;
    border-top: 1px solid #3f434f;
    border-bottom: 1px solid #3f434f;
    width: 550px;
    overflow: hidden;
}
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
}
@media screen and (max-width: 1200px) {
    .header-left {
        padding-top: 100px;
    }
    .faq-box-left {
    padding-right: 15px;
    }
    .faq-box-right {
        padding-left: 15px;
    }
    .image-container {
        height: 242px;
    }
    
    .fixed-image-box {
        height: 220px;
    }
    .user-container-project {
        height: 242px;
    }
    .user-container {
        height: 242px;
    }
    .user-container-2 {
        height: 224px;
    }
    .feature-box {
        padding: 10px 10px 10px 20px !important;
        margin-top: 10px;
    }
    .featured-text-buy {
            top: 30px;
    }
    .dash-banner-box {
        height: 222px;
    }
    .dashboard-title-box {
        margin-left: 0px;
        height: auto;
    }
    .dashboard-reward-box {
        margin-left: 0px;
        margin-top: 20px;
    }
    .reward-slider-push {
        height: 212px;
    }
    .dash-feature-right {
        margin-top: 187px;
        padding-right: 0px;
    }
    .registration-box {
            margin: 20px;
    }
    .reward-container {
        padding: 0px;
    }
    .feature-space {
        height: 77px;
    }
    .dashboard-purchase-box {
        height: 240px;
    }
}
@media (min-width: 992px) {
    .navbar-custom {
        background-color: transparent;
        padding: 0px;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-alt {
        color: #fff;
        background-color: #000;
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }
    .navbar-custom .navbar-nav > .active > a {
        display: block;
    }
    .navbar-custom.affix {
        background-color: #000;
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }
    section {
        padding: 50px 0;
    }
     .timeline:before {
        left: 50%;
    }
    .timeline > li {
        margin-bottom: 10px;
        min-height: 100px;
    }
    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        text-align: right;
    }
    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {} .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
}
@media screen and (max-width: 991px) {
    .compass-none {
        display: none;
    }
    .explore-scroll {
        color: #fff !important;
    }
    .logo-float {
        display: none;
    }
    .navbar-logo-alt {
        display: inline;
    }
    .nav-push {
        border-top: none;
    }
    .img-icon {
        width: 75%;
        margin: 0 auto;
    }
    .timeline > li .timeline-panel {
        width: 80%;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0px 0px 0px 0px;
    }
    .explore-feature-right {
            padding-right: 10px;
    }
    .explore-container {
            width: 348px;
    }
    .image-container {
        height: 360px;
        border-right: 1px solid #3f434f;
    }
    .fixed-image-box {
        height: 340px;
    }
    .user-container {
        height: 292px;
    }
    .user-container-2 {
        height: 282px;
        width: 617px;
        border-top: none;
    }
    .feature-box {
    padding: 0px 10px 0px 20px !important;
    margin-top: 0px;
    }
    .featured-text-buy {
            top: 37px;
        }
    .dashboard-title-container {
        height: auto;
    }
    .icon-share-bar {
        margin: 2px 5px 0px 5px;
    }
    .dash-banner-box {
        height: auto;
        border-right: 1px solid #3f434f;
    }
    .reward-slider-push {
        height: 335px;
    }
    .dash-feature-right {
        margin-top: 310px;
        padding-right: 0px;
    }
    .feature-container-left, .feature-container, .feature-container-right {
        padding: 0px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {
    .purchase-container-left {
        border-right:2px solid #fed136;
    }
    .krowdspace-modal {
        margin: 0px;
        padding: 0px;
    }
    .modal-custom {
        margin: 20px 0px;
        padding: 0px;
    }
    .marketing-modal {
        margin: 0px;
    }
    .landing-header {
        margin-top: 0px !important;
    }
    section {
        padding: 20px;
    }
    .container-top-header {
        max-width: 100%;
    }
    #modal-login {
        padding-top: 25px;
    }
    .explore-feature-left {
        margin-top: 100px;
    }
    .explore-feature-right {
        padding-right: 10px;
    }
    .featured-img {
        width: 300px;
        margin: 0 auto;
    }
    .explore-container {
        width: 368px;
    }
    .explore-project {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .image-container {
            height: auto;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
    }
    .fixed-image-box {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        min-height: 100px;
        width: 398px;
    }
    .user-container-project {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        border-top: none;
    }
    .project-coupon {
        margin-bottom: 50px;
    }
    .project-add-container {
        top: 80px;
        left:0;
        right: 0;
        position: absolute;
        display: inline-block;
        font-size: 0px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .project-add-text {
        display: inline-block;
        padding: 10px 8px 8px;
        font-size: 13px;
        line-height: 1;
        margin-top: 1px;
        border: 1px solid #3f434f;
    }
    .project-yield {
        display: inline-block;
        font-size: 14px;
        border: 1px solid #3f434f;
        border-left: none;
        border-right: none;
    }
    .project-btn {
    border-right: 1px solid #3f434f;
    }
    .project-btn:hover {
        border-right: 1px solid #3f434f !important;
    }
    .user-container {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 300px;
        border-top: none;
    }
    .user-container-2 {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 290px;
        border-top: none;
    }
    .dashboard-title-container {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .feature-box {
        padding: 10px 75px !important;
    }
    .featured-text-buy {
        top: 45px;
        font-size: 18px;
    }
    .dashboard-title-box {
        height: auto;
        margin-left: auto !important;
        margin-right: auto;
        width: 400px;
    }
    .dashboard-reward-box {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .dash-bar {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .wysiwyg-editor {
        width: 400px;
        margin-left: auto;
        margin-right: auto;

    }
    .image-container-alt {
        width: 400px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .dash-banner-box {
        height: auto;
        border-bottom: 1px solid #3f434f;
    }
    .reward-slider-push {
        height: 220px;
    }
    .dash-feature-right {
        margin-top: 195px;
        padding-right: 8px;
    }
    .image-container-alt {
        border-bottom: none;
    }
    .link-left {
    padding-right: 0px !important; 
    }
    .feature-container-left, .feature-container, .feature-container-right {
        max-width: 400px;
        margin-left:auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 560px) {
        .registration-box {
           margin: 0px;
           border: none;
           height: 430px;
        }
        .register-controls {
           position: relative;
        }
    }
@media screen and (min-width: 551px) {
    .plus-switch-one {
        display: inline-block;
    }
    .plus-switch {
        display: none;
    }
}
    @media screen and (max-width: 550px) {
    .slick-slide img {
    width: 400px;
    }
    .explore-banner-box {
        height: 227px;
    }
    .slider-left-box {
        height: 222px;
    }
    .plus-switch-one {
        display: none;
    }
    .plus-switch {
        display: block;
    }
}
@media screen and (max-width: 530px) {
    .timeline > li .timeline-panel {
        width: 74%;
    }
}
@media screen and (max-width: 401px) {
    .user-container, .user-container-2, .dashboard-reward-box, .dashboard-title-box, .dashboard-title-container, .dash-bar {
        border: none;
        border-bottom:1px solid #3f434f;
    }
    .dashboard-title-container {
        border: none;
    }
    .dash-bar {
        border-top:1px solid #3f434f;
    }
    .dashboard-purchase-box {
        border-top: none;
        border-left: none;
        border-right: none;
    }
}